SLACK_BOT_TOKEN=xoxb-...
SLACK_APP_TOKEN=xapp-...
SLACK_TOKEN=xoxc-...
SLACK_COOKIE=xoxd-...

WORKSPACE_NAME=...
POST_CHANNEL_NAME="99_everything"

ROCKETCHAT_URL=http://localhost:3000
ROCKETCHAT_USER=...
ROCKETCHAT_TOKEN=...
